button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    
}

.button {
    /* по-умолчанию для <button>, но пригодится для <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    /* невидимая граница (понадобится для цвета при наведении/фокусе) */
    border: solid 1px transparent;
    border-radius: 4px;
    /* размер строится из текста и отступов (без width/height) */
    padding: 0.5em 1em;
    /* убедитесь, что достаточно контраста! */
    color: #000;
    background-color: var(--btn);
    outline: none;
}

/* инвертируем цвета при наведении */
.button:hover,
.button:focus {
    color: var(--btn);
    border-color: var(--main-font-color);
    background-color: white;
    cursor: pointer;
    
}

/* троеточие, когда содержимое input переполнит блок */
input[type="text"] {
    width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
/* обнуление стилей для инпута border:none, :focus outline:none  */
.input-text{
    display: block;
    width: 100%;
    height: 32px;
    font-size: 14px;
    background-color: white;
    color: #000;
    line-height: 1.29;
    padding: 11px 10px 11px 10px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    font-family: var(--main-font-color);
}

.input-text:focus{
    outline: none;
}

.input-search{
    position: relative;
}
.input-search + label{
    padding-left: 20px;
    line-height: 20px;
    position: relative;
    display: inline-block;
}
.input-search + label::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    background: url('icons/search.svg') center center/cover no-repeat;
}

.input-checkbox {
    display: none;
}
.input-checkbox + label {
    cursor: pointer;
    position: relative;
    padding-left: 34px;
}
.input-checkbox + label:before {
    cursor: pointer;
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #c6c6c5;
    border-radius: 3px;
    left: 0;
    top: 0px;
}
.input-checkbox:checked + label .icon_check {
    visibility: visible;
}