:root {
    --main-color: #FBBA3C;
    --btn: #FBBA3C;
    --btn-hover: #FCD17D;
    --main-font-color: #000;
    --card-text: #000;
    --card-text-hover: #FBBA3C;
    --main-font: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--main-font);
}

body {
    max-width: 1160px;
    padding: 50px;
    margin: 0 auto;
}

/* paddin-left  */
/* задаём line-height - будет определять высоту элемента */
/* делаем инпут чек-бокс невидимым */
/* задаём псевдоэлемент ::before/::after, в котором задаём размеры и указываем иконку */

/* обнуление стилей для инпута border:none, :focus outline:none  */

.search {
    max-width: 459px;
    height: 45px;
    display: flex;
    /* border: 1px solid var(--main-color); */
    overflow: hidden;

}

.search-input {
    flex: 1;
    height: 100%;
}

.search-btn {
    max-width: 111px;
    height: 45px;
    padding: 14px 32px;
}