
.m {
    margin: 10px;
}

.test-one {
    fill: none;
}

.test-two {
    background: url('../icons/burger.svg') center center/contain no-repeat;
    width: 100px;
    height: 100px;
}

.test-six {
    fill: chocolate;
    width: 150px;
    height: 150px;
}



/* CHECKBOX */
/* paddin-left  */
/* задаём line-height - будет определять высоту элемента */
/* делаем инпут чек-бокс невидимым */
/* задаём псевдоэлемент ::before/::after, в котором задаём размеры и указываем иконку */


.cb-input:not(checked) {
    display: none;
    visibility: hidden;

}

.cb-input+.cb-label {
    display: inline-block;
    position: relative;
    padding-left: 65px;
    line-height: 30px;


}

.cb-input+.cb-label::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #000;
    transition: all 300ms ease-in;
}

.cb-input+.cb-label::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    background-color: darkgoldenrod;
    border-radius: 100%;
    box-shadow: 0 0 2px 2px #fff;
    transition: all 300ms ease-in;
}

.cb-input:checked+.cb-label::before {
    background-color: rgba(184, 134, 11, 0.5);
}

.cb-input:checked+.cb-label::after {
    left: 31px;
}

.cb-input:checked+.cb-label:active {
    color: darkgoldenrod;
}


input[type="checkbox"] {
    display: none;
}

.cb-input-one+.cb-label {

    padding-left: 32px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    font-family: var(--main-font);
}

.cb-input-one+.cb-label:before {
    position: absolute;
    content: '';
    left: 0;
    width: 24px;
    height: 24px;
    background: url('../icons/cb.svg') center center/cover no-repeat;
    transition: all 300ms ease-in;
}

.cb-input-one:checked+.cb-label:before {

    background-image: url("../icons/cb_checked.svg");
}